html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  border: solid .2em #fff;
}
#main {
  display: none;
}
#newGame, #backButton {
  text-align: center;
  vertical-align: top;
  border: 3px solid blue;
  border-radius: 3px;
  background-color: gray;
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width: 5em;
  margin: 5px auto;
}
#Headline {
  margin: auto;
  text-align: center;
  color: blue;
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}