html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  border: solid .2em #fff;
}
canvas#defaultCanvas0 {
  display: none;
  margin: auto;
}
#Headline {
  margin: auto;
  text-align: center;
  color: #487db2;
  font-size: 2em;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#newGame, #creditsButton, #backButton  { 
  margin: 5px auto;
  text-align: center;
  vertical-align: middle;
  border: 3px solid #487db2;
  border-radius: 3px;
  background-color: gray;
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
 
}

#credits { 
  text-align: center;
  vertical-align: top;
  display: none;
}